body {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: #000;
}

#nav-bar {
  list-style-type: none;
  margin: 0px 5px 0px 5px;
  padding: 0;
  overflow: hidden;
  background-color: #F8027C;
  position: sticky;
  top: 0;
  width: auto;
  border-style: solid;
  border-width: 0px;
}

.nav-item {
  float: left;
}

li a {
  display: block;
  padding: 8px;
  color: #000;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  color: white;
  background-color: #6F0439;
}

#active-nav {
  background-color: #A607B8;
  color: white;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  background-color: #A607B8;
  padding: 5px;
  grid-gap: 0px;
}

.grid-item {
  text-align: center;
  padding: 5  px;
  width: 80%;
}

.hero-icon {
  border-style: solid;
  border-width: 5px;
  border-color: #000;
  background-color: white;
}

.hero-icon-individual {
  float: left;
  margin-right: 10px;
}

.content-wrapper {
  background-color: #A607B8;
  padding:10px;
  border-style: solid;
  border-width: 5px;
}

.hero-name{
  background-color: white;
  border-style: solid;
  border-width: 5px;
  text-align: center;
}

.zoom {
  transition: transform .1s;
}

.zoom:hover {
  transform: scale(1.2);
  background-color: #07B6D7;
}

.section-heading {
  margin-top:0px;
  margin-left:0px;
  margin-bottom: 0px;
  font-size:150%;
  font-weight:bold;
  color: white;
}

.overview-box {
  border-top-style: solid;
  margin-left: 180px;
  padding-left: 0px;
  color: white;
  border-color: black;
}

.ability-section {
  border-top-style: solid;
  padding-left: 175px;
}

.ability-main {
  display: flex
}

.ability-box {
  display: flex;
  background-color: #0C2EBF;
  margin-left: 90px;
  margin-right: 310px;
  margin-bottom:10px;
  padding-bottom:5px;
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
  border-style: dashed;
  color: white;
  border-color: black;
}

.ability-details-container {
  /*flex: 1 1 auto;*/
  flex-grow: 1;
  flex-basis: auto;
  /*border-left-style: solid;*/
  border-color: black;
  padding-left: 5px;
  margin-left: 5px;
}

.ability-header {
  font-weight: bold;
  font-size: 120%;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}


.ability-icon-container {
  /*flex: 1 1 auto;*/
  flex-basis: auto;
  display: flex;
}

.ability-icon {
  width:50px;
  /*vertical-align: middle;*/
  margin: auto;
  display:block;
}

.abilities-list {
  border-top-style: dotted;
  margin-top: 5px;
  padding-top: 5px;
  border-color: white;
}

.keybind {
  float:right;
  font-weight: normal;
  font-style: italic;
}
